body {
  margin: 0;
  font-family: Arial, sans-serif;
  display:flex;
  background-image: url('/assets/images/plants.webp');
}

body::before {
  background-color: white;
}

.sidebar {
  width: 240px;
  background: #b6c496;
  padding: 20px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  overflow-y: auto;
  border-right: 5px solid #ddd;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: left 0.5s;
  background: #5acf94;
  border: none;
  color: #333;
  font-size: 1.5em;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 3;
  margin-right: 20px;
}

.sidebar-toggle:hover {
  background: #4bbfa4;
  transition: ease-in-out 0.3s;
}

.sidebar-toggle.open {
  left: 260px;
}

.sidebar h2 {
  margin-top: 0px
}

.content {
  position: absolute;
  font-size: 1.2em;
  left: 50%;
  padding: 20px;
  max-width: 900px;
  z-index: 1;
}

a {
text-decoration: none;
color: #006699
}

a:hover {
  text-decoration: underline;
}

ul {
  margin-left: 5px;
  list-style-type: none;}

ul li {
  padding: 3px;
  text-decoration: none;
  color: #295c37;
  font-size: 1em;
  font-family: math;
}

.parent {
  position: relative;
}

.extras {
  bottom: 30px;
  margin-bottom: 10px;
  left: 50%;
  padding: 10px;
  background: #e0f2e9;
  border-radius: 5px;
  font-size: 0.9em;
  text-align: center;
  color: #333;
  z-index:999;
}

.extras-list {
  position: relative;
}

.ul2 {
  margin-left: 5px;
  list-style-type: none;
}

.ul2 li2 {
  text-decoration: none;
}