body {
  margin: 0;
  font-family: Arial, sans-serif;
  display:flex;
  background-image: url('/assets/images/plants.webp');
}

#IntroContents {
  position: relative;
  margin: 1vw 10vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

h1{ 
  margin-top: 5vh;
  font-size: 3em;
  text-align: center;
  background-color: rgba(221, 237, 224, 0.894);
  padding-left:  10px;
  padding-right: 10px;  
  border-radius: 0.5em;
}

p{
  padding: 20px 40px; 
  border-radius: 0.5em;
  text-align:justify ;
  background-color: rgba(221, 237, 224, 0.894);
  font-size: 1.7em;
}
.sidebar {
  width: 20vw;
  background: #b6c496;
  height: 100vh;
  padding: 2vw 1vh;
  position: fixed;
  overflow-y: auto;
  border-right: 5px solid #0d161427;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.sidebar h2 a {
  margin-top: 0px;
  color: black;
  font-size: 1.2em;
  text-align: center;
}

.sidebar ul{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sidebar ul li {
  cursor: pointer;
  background-color: #81a483;
  color: #295c37;
  border-radius: 0.67em;
  margin-top: 0.3em;
  margin-right: 0vw;
  padding: 0.2em;
  text-align: center;
  font-size: 1.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar ul li:hover {
  background-color: #98cea7 ;
}

.resources {
   
}

.resources.open {
  height: 3em;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-toggle {
  position: absolute;
  top: 2vh;
  left: 2vw;
  transition: left 0.5s;
  background: #5acf94;
  border: none;
  color: #333;
  font-size: 1.5em;
  padding: 1vw;
  border-radius: 1vh;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 3;
  margin-right: 20px;
}

.sidebar-toggle:hover {
  background: #4bbfa4;
  transition: ease-in-out 0.3s;
}

.sidebar-toggle.open {
  left: 20vw;
}

a {
text-decoration: none;
color: #006699
}

a:hover {
  text-decoration: underline;
}

a:link {
  color: black;
}

a:hover{
  text-decoration: none;
}